<h2>Über uns</h2>

<hr>

<p>Schuster-Engineering GmbH mit Sitz in Nonnweiler kann auf eine langjährige Erfahrung im Maschinenbau zurückblicken. Wir werden für unsere Kunden zum vertrauensvollen und kompetenten Partner, der in fairer und offener Zusammenarbeit Unterstützung in der Entwicklung und der Konstruktion von Bauteilen, Maschinen und Anlagen leistet. Dabei arbeiten wir stetig an der Optimierung unserer Produktionsprozesse und können Ihnen durch unser Qualitätsmanagement eine flexible und dennoch zielstrebige Arbeit anbieten.</p>

<p>Unser Team besteht aus erfahrenen und kompetenten Mitarbeitern, die sich in regelmäßigen Fortbildungen weiterbilden. So sind wir nicht nur technisch, sondern auch mit unserem Know-how immer auf dem aktuellen Stand.</p>

<hr>

<p>Wir bieten:</p>

<ol>
    <li>Projektierung / Projektleitung von technischen Aufgabenstellungen<span>Wir beherrschen die gängigen Projektmanagement-Tools...</span></li>
    <li>Konstruktion<span>Erstellung von Konstruktionen im Bereich des Sondermaschinenbaus und der Automatisierungstechnik.
        </span><span>Wir konstruieren bevorzugt in 3D (Aktuell Autodesk Inventor 2013). Der Datenaustausch zu allen gängigen CAD-Programmen ist hierbei gewährleistet.</span></li>
    <li>Strukturmechanik<span>Bauteiluntersuchungen nach der Methode der Finiten Elemente</span></li>
    <li>Maschinenbau<span>Bau und Inbetriebnahme schlüsselfertiger Maschinen und Anlagen:</span>
        <ul class='contli'>
            <li>Betriebsmittelkonstruktion u.- bau</li>
            <li>Materialtransport u. Fördertechnik</li>
            <li>Prüftechnik insbesondere unter Zuhilfenahme von Kameratechnik</li>
            <li>Robotik</li>
            <li>Werkzeugbau</li>
            <li>Füge- und Montagevorgange</li>
            <li>Widerstandschweissen von Blechteilen</li>
            <li>Wärmebehandeln von Motorteilen (Lösungsglühen, Auslagern)</li>
            <li>Klimatisieren von Prozessen</li>
            <li>Vermessen / Begutachten von Teilen</li>      
        </ul>
    
    
    
    </li>
    <li>Taktzeitoptimierung / Fertigungsoptimierung<span>Wir unterstützen Sie bei der Optimierung Ihrer Fertigung in Fragen der Prozessoptimierung</span></li>
    <li>Teilefertigung<span>Wir fertigen auch Einzelteile nach Ihren Vorgaben (siehe hierzu gesonderte Maschinenliste)</span>
        <ul class='contli'>
            <li>CNC-Fräsen</li>
            <li>CNC-Drahterodieren</li>
            <li>CNC-Drehen</li>
            <li>Flachschleifen</li>
            <li>Rundschleifen</li>
            <li>MIG-MAG-Schweissen</li>
            <li>WIG-Schweissen</li>
            <li>Widerstand-Punktschweissen</li>
            <li>Glühen</li>
            <li>Sandstrahlen/Glasperlenstrahlen</li>
        </ul>   
    </li>
</ol>

<div class="lastp">
    <p></p>
</div>