<h2>Maschinenpark</h2>

<hr>

<p>Unser Maschinenpark bietet die Möglichkeit verschiedenster Fertigungsmöglichkeiten.</p>

<ul class='contli'>
    <li>Drehen: D=500, L=1000 (CNC und konventionell)</li>
    <li>Fräsen: bis 1600mm x 750mm x 650mm (3 u. 5-Achs CNC u. konvenionell)</li>
    <li>Flachschleifen: bis 700mm x 350mm x 300mm</li>
    <li>Rundschleifen innen u. außen bis D=250mm x 500mm</li>
    <li>CNC Drahterodieren: bis 450mm x 350mm x 250mm</li>
    <li>Schweißen: Mig-Mag, WIG, Widerstandspunktschweißen</li>
    <li>Sand-/Glasperlen Strahlen: 1000mm x 500mm x 500mm</li>
    <li>Glühen: bis 1100°C, 400mm x 300mm x 200mm</li>
</ul>

<p>Für detaillierte Anfragen nehmen Sie bitte <a ui-sref='main.kontakt'>Kontakt</a> mit uns auf. Wir schicken Ihnen gerne eine detaillierte Maschinenliste..</p>

<div class="lastp">
    <p></p>
</div>