<h2>Produkte</h2>

<hr>

<p>Achtung die PDF's werden in separaten Browserfenstern geöffnet, was bei langsamen Internetverbindungen etwas länger dauert. Wir bitten um Ihr Verständnis!</p>

<p>Sie benötigen zum Lesen der heruntergeladenen Prospekte den Acrobat Reader, den Sie sich durch das Drücken des Buttons im Bedarfsfall herunterladen können.</p>

<h3>Universal Schweißzelle USZ - 200 x 240 - IRB1600 - MigMag</h3>
<div  class='prdk'><img src='./img/prdk/1.jpg' /><p>Kompakte transportable Universal Schweißzelle zum Verschweissen von Komponenten aus Stahl, oder Aluminium. Ausgestattet mit Säulenschwenkkran zur Bestückung, oder Entnahme der geschweißten Komponenten. Viele Varianten lieferbar. Sprechen Sie uns an.</p></div>

<h3>Stufenförderer SFxxx-3</h3>
<div  class='prdk'><img src='./img/prdk/2.jpg' /><p>Stufenförderer zum Fördern / Vereinzeln von Drehteilen</p></div>

<h3>Stoßdämpferprüfstand SPM-LA-NH 1500 20KN</h3>
<div  class='prdk'><img src='./img/prdk/3.jpg' /><p>Stoßdämpferprüfstand in Lineartechnik. Diese bieten wie Hydropulser die Möglichkeit reale Testbedingungen zu simulieren, jedoch erheblich kostengünstiger und das bei besserer Regelgenauigkeit!</p></div>

<h3>Stoßdämpferprüfstand SPM-KA-NH 1300 20KN</h3>
<div  class='prdk'><img src='./img/prdk/4.jpg' /><p>Stoßdämpferprüfstand in Kurbelschwingentechnik. Dies sind kostengünstige Prüfmaschinen für das Prüffeld mit fest gerasterten Hüben</p></div>

<h3>Prüf- und Meßmaschine Meproscan 9070</h3>
<div  class='prdk'><img src='./img/prdk/5.jpg' /><p>Prüfmaschine zum Vermessen bzw. überprüfen verschiedener optischer Qualitätskriterien. Merkmale wie Kratzer, Farbunterschiede, erkennen von Barcodes, etc. können realisiert werden. Die Teile müssen lediglich in, oder auf Werkstückträgern, sogenannten Blistern gelagert sein. Teile wie z.B. Uhrengehäuse, Stanzteile, Leiterplatten, Drehteile Frästeile, etc. sind denkbar.Es folgt ein vollautomatischer Austausch der Ausschußteile gegen Gutteile. Die Blister werden außerhalb der Prüfzelle ab- bzw. aufgestapelt, was den autarken Betrieb über einen längeren Zeitraum ermöglicht!</p></div>

<h3>Prüf- und Meßmaschine Mepro MessIN8060</h3>
<div  class='prdk'><img src='./img/prdk/6.jpg' /><p>Prüfmaschine zum vollautomatischen Detektieren von Fehlern auf Leiterplatten, insbesondere von Steckerkontakten. Diese werden auf Vollständigkeit und "Taumelkreis" überprüft. Es können auch elektronische Bauteile geprüft werden. Die Ausschußteile werden automatisch aussortiert.Diese Maschinen werden vorzugsweise in Förderstrecken (z.B. Bosch-Bänder etc.) integriert, können aber auch autark betrieben werden</p></div>

<h3>Linearantriebsmotor LA-NH200-150</h3>
<div  class='prdk'><img src='./img/prdk/7.jpg' /><p>Linearantriebe für hochdynamische Anwendungen, z.B. für den Einsatz in Prüfstanden aller Art, insbesondere in den Bereichen der Schwingungstechnik. Wir können bis zu zwei Frequenzen auf die Grundfrequenz überlagern! Ein alternativer Einsatzfall ist z.B. in Bereichen der Pumpentechnik zu sehen.</p></div>

<div class="lastp">
    <p></p>
</div>